/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: rgb(46, 169, 223);
  --vp-c-brand-2: rgb(46, 169, 223);
  --vp-c-brand-3: rgb(46, 169, 223, 0.8);

  --vp-home-hero-image-background-image: url('/Keyboard.png');
  --vp-home-hero-image-filter: blur(50px);

  --vp-font-family-base: 'handwriting22';/* normal text font */
  --vp-font-family-mono: 'handwriting222';/* code font */
}

@font-face {
  font-family: 'handwriting'; /* 自定义字体名称 */
  src: url('../../src/assets/font/字魂飞天手书.ttf'); /* 字体文件的路径 */
}

/* .VPHomeHero .name .clip {
  font-family: 'name';
  font-size: 60px;
} */
.image-container {
  transform: none !important;
}
.image-bg {
  background-size: cover !important;
}